.best-selling-section {
    background-color: white;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0px 15px;

}

.best-selling-title {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px;
}

.best-selling-dropdown select {
    border-radius: 10px;
    background-color: white;
    padding: 5px 30px;
    border: 1px solid grey;
}

.best-selling-table {
    padding-left: 10px;
}

.item-status {
    display: flex;
    column-gap: 10px;
}

.best-selling-section {
    margin-bottom: 5px;
}