.locations-section {
    padding: 10px 30px 10px 15px;
    margin-left: 20px;
    background-color: white;
    border-radius: 10px;

    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
}

.location-title {
    display: flex;
    column-gap: 110px;
    align-items: center;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}

.location-name-section {
    display: flex;
    justify-content: space-between;
}

.percentage-bar {
    padding: 10px 2px 0 2px;
}

.locations-section ul li {
    padding: 10px 10px 10px 10px;
}